<% include ./inc/f_head.html %>
    <% include ./inc/f_topnavi.html %>
        
        <section id="main" data-layout="layout-1">
            <% include ./inc/f_sidenavi.html %>
            
            <section id="content">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <h2>中华珍宝馆 艺术学院 正式开课了<small>愿你在艺术的道路上飞奔时，我们能相伴左右</small></h2>
                            
                            <ul class="actions">
                                <li>
                                    <a href="">
                                        <i class="zmdi zmdi-refresh-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="card-body">
                            <div class="chart-edge">
                                <div id="curved-line-chart" class="flot-chart "></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mini-charts">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-cyan">
                                    <div class="clearfix">
                                        <div class="chart stats-bar"></div>
                                        <div class="count">
                                            <small>特约课程</small>
                                            <h2>1200分钟</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-bar-2"></div>
                                        <div class="count">
                                            <small>注册学生</small>
                                            <h2>1650人</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line"></div>
                                        <div class="count">
                                            <small>参考资料</small>
                                            <h2>4100幅</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-bluegray">
                                    <div class="clearfix">
                                        <div class="chart stats-line-2"></div>
                                        <div class="count">
                                            <small>月访客</small>
                                            <h2>15,000人</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="block-header">
                        <h2>特约课程 夏纯景老师主讲《灵飞经实临全讲》</h2>
                        
                        <ul class="actions">
                            <li>
                                <a href="">
                                    <i class="zmdi zmdi-trending-up"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="zmdi zmdi-check-all"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">刷新</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                    
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="card blog-post">
                                    <div class="bp-header">
                                        <img src="/uploads/lfj/lfj_1.jpg" alt="">
                                            
                                        <a href="/media/s1" class="bp-title">
                                            <h2>灵飞经全讲 第一讲</h2>
                                            <small>序论和准备工作 (时长: 15分钟) </small>
                                        </a>
                                    </div>
                                    
                                    <div class="p-20">
                                        <ul class="clist clist-check">
                                            <li>介绍本课程的内容设置</li>
                                            <li>基本原则以及学习的准备工作</li>
                                            <li>演示书写课程全名题签</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-6">
                                <div class="card blog-post">
                                    <div class="bp-header">
                                        <img src="/uploads/lfj/lfj_2.jpg" alt="">
                                            
                                        <a href="/media/s2" class="bp-title">
                                            <h2>灵飞经全讲 第二讲</h2>
                                            <small>横的写法 (时长: 13分钟)</small>
                                        </a>
                                    </div>
                                    
                                    <div class="p-20">
                                        <ul class="clist clist-check">
                                            <li>基本横的写法，起笔收笔</li>
                                            <li>读帖和演示书写</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <div class="card blog-post">
                                    <div class="bp-header">
                                        <img src="/uploads/lfj/lfj_3.jpg" alt="">
                                            
                                        <a href="/media/s3" class="bp-title">
                                            <h2>灵飞经全讲 第三讲</h2>
                                            <small>横的组合(时长: 14分钟)</small>
                                        </a>
                                    </div>
                                    
                                    <div class="p-20">
                                        <ul class="clist clist-check">
                                            <li>多个横画的组合与疏密变化</li>
                                            <li>读帖和演示书写</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-3 col-sm-6">
                                <div class="card blog-post">
                                    <div class="bp-header">
                                        <img src="/uploads/lfj/lfj_4.jpg" alt="">
                                            
                                        <a href="/media/s4" class="bp-title">
                                            <h2>灵飞经全讲 第四讲</h2>
                                            <small>长竖的写法(时长: 15分钟)</small>
                                        </a>
                                    </div>
                                    
                                    <div class="p-20">
                                        <li>长竖在灵飞经中的特点，以及写法</li>
                                        <li>读帖和演示书写</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </section>

        
        <!-- Javascript Libraries -->
        <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <script src="vendors/bower_components/flot/jquery.flot.js"></script>
        <script src="vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="vendors/sparklines/jquery.sparkline.min.js"></script>
        <script src="vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        
        <script src="vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="vendors/bower_components/fullcalendar/dist/fullcalendar.min.js "></script>
        <script src="vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <script src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
        
        <script src="js/flot-charts/curved-line-chart.js"></script>
        <script src="js/flot-charts/line-chart.js"></script>
        <script src="js/charts.js"></script>
        
        <script src="js/charts.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/demo.js"></script>
<% include ./inc/f_foot.html %>