            <aside id="sidebar" class="sidebar c-overflow">
                <div class="profile-menu">
                    <a href="">
                        <div class="profile-pic">
                            <img src="/img/profile-pics/1.jpg" alt="">
                        </div>

                        <div class="profile-info">
                            我们的课程
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </a>
                    <ul class="main-menu">
                        <li>
                            <a target="_blank" href="http://weibo.com/2258697062"><i class="zmdi zmdi-account"></i> 课程发布微博</a>
                        </li>
                    </ul>
                </div>

                <ul class="main-menu">
                    <li>
                        <a href="http://ltfc.net"><i class="zmdi zmdi-home"></i> 中华珍宝馆首页</a>
                    </li>
                    <li class="active">
                        <a href="/"><i class="zmdi zmdi-home"></i> 艺术学院首页</a>
                    </li>                   
                    <li class="sub-menu">
                        <a href=""><i class="zmdi zmdi-widgets"></i> 灵飞经全讲</a>
                        <ul>
                            <li><a href="/media/s1">第一课 序言</a></li>
                            <li><a href="/media/s2">第二课 横的写法</a></li>
                            <li><a href="/media/s3">第三课 横的组合</a></li>
                            <li><a href="/media/s4">第四课 竖的写法</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
            
            <aside id="chat" class="sidebar c-overflow">
            
                <div class="chat-search">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="查询课程(暂不可用)">
                    </div>
                </div>

                <div class="listview">
                    <a class="lv-item" href="">
                        <div class="media">
                            <div class="pull-left p-relative">
                                <img class="lv-img-sm" src="/img/profile-pics/2.jpg" alt="">
                                <i class="chat-status-busy"></i>
                            </div>
                            <div class="media-body">
                                <div class="lv-title">灵飞经全讲 第四课 竖的写法</div>
                                <small class="lv-small">夏斌生老师</small>
                            </div>
                        </div>
                    </a>

                    <a class="lv-item" href="">
                        <div class="media">
                            <div class="pull-left p-relative">
                                <img class="lv-img-sm" src="/img/profile-pics/2.jpg" alt="">
                                <i class="chat-status-busy"></i>
                            </div>
                            <div class="media-body">
                                <div class="lv-title">灵飞经全讲 第三课 横的组合</div>
                                <small class="lv-small">夏斌生老师</small>
                            </div>
                        </div>
                    </a>

                </div>
            </aside>